@model AlaricandAssociatesElectronicsWholesale.Models.Product

<div class="productListing">
    @if (Model.Images.Any())
    {
        <img src="@Model.Images.First().imageURL"
            alt="@Model.Images.First().imageDescription" />
    } else {
        <img src="http://ecx.images-amazon.com/images/I/41LKk0MC%2BJL._SX300_.jpg" />
    }
    <div>@Model.productName</div>
    <div>@Model.Price.ToString("C")</div>
</div>
